@import "../../global.scss";

.portfolioList {
  font-size: 14px;
  margin-right: 50px;
  padding: 7px;
  border-radius: 10px;
  cursor: pointer;

  @include mobile{
    margin-right: 20px;
  }

  &.active {
    background-color: $mainColor;
    color: white;
  }

  &:hover{
    background-color: rgba(21, 2, 58, 0.6);
    color: rgba(255, 255, 255, 0.5);
  }
}
